body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Itim';
    background-image: url("a.png");
    background-size: cover;
}

#question {
    position: absolute;
    top: -2vh;
    left: 45vw;
    font-family: 'Caveat Brush';
    font-size: 48px;
    color: white; 
}

#answer_no {
    background-color:#f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    position: absolute;
    top: 89px;
    left: 1190px;
}

#answer_no:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#answer_yes {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    position: absolute;
    top: 89px;
    left: 440px;
}

#answer_yes:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#verbs {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 28px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#verbs:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#integers {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 28px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
#integers:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#hi {
    opacity: 0.8;
    position: relative;
    left: 40px;
    top: 10px;
}

#hihi {
    background-color: white;
    opacity: 0.9;
    position: absolute;
    left: 40vw;
    top: 10vh;
    border-radius: 30px;
    width: 30vw;
    height: 20vh;
}



#left_button {
    position: absolute;
    top: 875px;
    left: 550px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 28px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
#left_button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#right_button {
    position: absolute;
    top: 875px;
    left: 1150px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 28px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  


#canvas {
    position: absolute;
    top: 100px;
    left: 450px;
    z-index: 3;
    width: 1000px;
    height: 750px;
}

#board {
    position: absolute;
    z-index: 0;
    top: 150px;
    left: 50px;
}


#white_background {
    background-color: white;
    opacity: 0.9;
    position: absolute;
    left: 30px;
    top: 25px;
    border-radius: 30px;
    width: 1840px;
    height: 925px;
    z-index: -99999;
}

#q {
    position: absolute;
    top: 5px;
    left: 700px;
    font-family: 'Caveat Brush';
    font-size: 36px;
    color: black; 
}


#node1 {
    position: absolute;
    top: 180px;
    left: 904px;
    z-index: 1;
}

#node2 {
    position: absolute;
    top: 308px;
    left: 460px;
    z-index: 1;
}

#node3 {
    position: absolute;
    top: 308px;
    left: 1348px;
    z-index: 1;
}

#node4 {
    position: absolute;
    top: 436px;
    left: 238px;
    z-index: 1;
}

#node5 {
    position: absolute;
    top: 436px;
    left: 682px;
    z-index: 1;
}

#node6 {
    position: absolute;
    top: 436px;
    left: 1126px;
    z-index: 1;
}

#node7 {
    position: absolute;
    top: 436px;
    left: 1570px;
    z-index: 1;
}

#node8 {
    position: absolute;
    top: 564px;
    left: 127px;
    z-index: 1;
}

#node9 {
    position: absolute;
    top: 564px;
    left: 349px;
    z-index: 1;
}

#node10 {
    position: absolute;
    top: 564px;
    left: 571px;
    z-index: 1;
}

#node11 {
    position: absolute;
    top: 564px;
    left: 793px;
    z-index: 1;
}

#node12 {
    position: absolute;
    top: 564px;
    left: 1015px;
    z-index: 1;
}

#node13 {
    position: absolute;
    top: 564px;
    left: 1237px;
    z-index: 1;
}

#node14 {
    position: absolute;
    top: 564px;
    left: 1459px;
    z-index: 1;
}

#node15 {
    position: absolute;
    top: 564px;
    left: 1681px;
    z-index: 1;
}

#node16 {
    position: absolute;
    top: 692px;
    left: 72px;
    z-index: 1;
}

#node17 {
    position: absolute;
    top: 692px;
    left: 183px;
    z-index: 1;
}

#node18 {
    position: absolute;
    top: 692px;
    left: 294px;
    z-index: 1;
}

#node19 {
    position: absolute;
    top: 692px;
    left: 405px;
    z-index: 1;
}

#node20 {
    position: absolute;
    top: 692px;
    left: 516px;
    z-index: 1;
}

#node21 {
    position: absolute;
    top: 692px;
    left: 627px;
    z-index: 1;
}

#node22 {
    position: absolute;
    top: 692px;
    left: 738px;
    z-index: 1;
}

#node23 {
    position: absolute;
    top: 692px;
    left: 849px;
    z-index: 1;
}

#node24 {
    position: absolute;
    top: 692px;
    left: 960px;
    z-index: 1;
}

#node25 {
    position: absolute;
    top: 692px;
    left: 1071px;
    z-index: 1;
}

#node26 {
    position: absolute;
    top: 692px;
    left: 1182px;
    z-index: 1;
}

#node27 {
    position: absolute;
    top: 692px;
    left: 1293px;
    z-index: 1;
}

#node28 {
    position: absolute;
    top: 692px;
    left: 1404px;
    z-index: 1;
}

#node29 {
    position: absolute;
    top: 692px;
    left: 1515px;
    z-index: 1;
}

#node30 {
    position: absolute;
    top: 692px;
    left: 1626px;
    z-index: 1;
}

#node31 {
    position: absolute;
    top: 692px;
    left: 1737px;
    z-index: 1;
}